# Scaler

### Importar las librerias necesarias

In [1]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import StandardScaler ,MinMaxScaler
from sklearn.model_selection import train_test_split

from sklearn.linear_model import LinearRegression

In [3]:
df = pd.read_csv('regression_data_clean.csv')
df.head()

,bedrooms,bathrooms,floors,waterfront,view,grade,sqft_above,lat,price,sqft_total
0,3,1.00,1.0,0,0,7,1180,47.5112,221900,1340
1,3,2.25,2.0,0,0,7,2170,47.7210,538000,2090
2,2,1.00,1.0,0,0,6,770,47.7379,180000,2720
3,4,3.00,1.0,0,0,7,1050,47.5208,604000,2270
4,3,2.00,1.0,0,0,8,1680,47.6168,510000,1800

El primer paso es separar los datos de train y test de nuestra variable dependiente de las independientes

In [6]:
X = df.drop('price',axis=1)
y = df['price']

X.head()

,bedrooms,bathrooms,floors,waterfront,view,grade,sqft_above,lat,sqft_total
0,3,1.00,1.0,0,0,7,1180,47.5112,1340
1,3,2.25,2.0,0,0,7,2170,47.7210,2090
2,2,1.00,1.0,0,0,6,770,47.7379,2720
3,4,3.00,1.0,0,0,7,1050,47.5208,2270
4,3,2.00,1.0,0,0,8,1680,47.6168,1800